# Dependencies
node_modules/
.pnp
.pnp.js

# Env
.env
.env.local
.env.*.local
!.env.example

# Build outputs
dist/
build/
*.tsbuildinfo

# Prisma generated client
packages/db/generated/
packages/db/node_modules/.prisma/

# Logs
*.log
npm-debug.log*

# Docker / data volumes (si bind-mount local)
data/
volumes/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
